<h1>The Ballycyrk Co-Op.</h1>
<br>
<h4>Join us and you can buy shit.  Cool shit.</h4>
<form>
  <label> Customer Name: <input type="text" ng-model="newUser.name" placeholder="Sign Up Here!"/></label>
  <input class="btn btn-sm btn-success" type="submit" ng-click="addUser()" value="Join" ng-if="!(users | filter:name_filter | orderBy:'-created_at':false | filter:newUser.name).length > 0" />
</form>
<div class="row">
  <h3 class="col-md-8 text-center bg-danger" ng-if="(users | filter:name_filter | orderBy:'-created_at':false | filter:newUser.name).length > 0 && (newUser.name)">'<span ng-bind="newUser.name"></span>' already exists! (So far anyway.) </h3>
  <!-- <div class="col-md-4"> -->
    <input class="pull-right" ng-model="name_filter"
          placeholder="search by name...">
  <!-- </div> -->
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Member Name</th>
      <th>Date Joined</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in users | filter:name_filter | orderBy:'-created_at':false | filter:newUser.name">
      <td ng-bind="user.name"></td>
      <td ng-bind="user.created_at | date:'longDate'"></td>
      <td ng-click="user">
        <button class="btn btn-sm btn-danger" ng-click="deleteUser(user)">Quit
        </button>
      </td>
  </tbody>
</table>
<hr>
<a ng-if="!(users.length == 0)" href="#/orders">Go to Products and place Orders</a>
